<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <app-header title="fatura consolidada" icon="credit_card"></app-header>
            <mat-spinner class="container mt-5" color="warn" *ngIf="showLoader"></mat-spinner>
            <app-expense-table tableHeaders="summary" [tableData]="summaryExpenses" *ngIf="!showLoader">
            </app-expense-table>
        </div>
    </div>

    <div class="flex-right" *ngIf="!showLoader">
        <a class="btn-classic" routerLink="/detailed-expenses" routerLinkActive="active">
            ACESSAR FATURA DETALHADA
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
    </div>
</div>