<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <app-header title="fatura detalhada" icon="list"></app-header>
            <mat-spinner class="container mt-5" color="warn" *ngIf="showLoader"></mat-spinner>
            <app-expense-table tableHeaders="detailed" [tableData]="detailedExpenses" *ngIf="!showLoader">
            </app-expense-table>
        </div>
    </div>
    
    <div class="flex-left" *ngIf="!showLoader">
        <a class="btn-classic" routerLink="/summary-expenses" routerLinkActive="active">
            <mat-icon>keyboard_arrow_left</mat-icon>
            VOLTAR PARA A FATURA CONSOLIDADA
        </a>
    </div>
</div>