<div class="table-expenses">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" *ngFor="let headers of tableHeaders">{{headers}}</th>
            </tr>
        </thead>
        <tbody *ngIf="tableType === 'summary'">
            <tr *ngFor="let expense of tableData">
                <td>{{getMonthLabel(expense.mes_lancamento)}}</td>
                <td class="debit-item">{{' - ' + formatNumberInBrlCurrency(expense.valor)}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="tableType === 'detailed'">
            <tr *ngFor="let expense of tableData">
                <td>{{expense.origem}}</td>
                <td>{{getCategoryLabeL(expense.categoria)}}</td>
                <td class="debit-item">{{'- ' + formatNumberInBrlCurrency(expense.valor)}}</td>
                <td>{{getMonthLabel(expense.mes_lancamento)}}</td>
            </tr>
        </tbody>
    </table>
</div>