<div class="container flex-left">
    <div class="container-mid " routerLink="/summary-expenses" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Example home icon">{{icon}}</mat-icon>
    </div>
    <p class="mb-3 ml-3">{{title}}</p>
</div>