.container-mid {
    display: flex;
    padding: 8px;
    border: 1px solid #00000026;
    border-radius: 6px;
    font-weight: bold;
    background: rgba(255, 117, 4, 1);
    color: #000000;
    box-shadow: 0px 0px 3px #0000008c;
    margin-bottom: 15px;
    margin-top: 5px;
    outline: none;
};