@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-classic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 15px;
    border: 1px solid #00000026;
    border-radius: 6px;
    font-weight: bold;
    background: rgba(255, 117, 4, 1);
    color: #000000;
    box-shadow: 0px 0px 3px #0000008c;
    margin-bottom: 25px;
    margin-top: 25px;
    transition: background 0.3s, box-shadow 0.1s;
}

.btn-classic:hover {
    background: rgba(255, 117, 4, 0.87);
    box-shadow: 0px 0px 7px #0000008c;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

p {
    font-size: 25px;
    font-weight: bold;
}

tr td {
    font-size: 16px;
    font-weight: 400;
}